<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Jaspar Martin</title>
    <link rel="icon" type="image/svg" href="/favicon.svg" />
    <link href="https://fonts.cdnfonts.com/css/oxygen-mono" rel="stylesheet" />
    <link rel="stylesheet" href="{{ get_url(path="style.css") }}"/>
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src * 'unsafe-inline' https://vitals.vercel-insights.com vitals.vercel-insights.com; "
    />
    <script defer src="/_vercel/insights/script.js"></script>
  </head>

  <body>
    <section class="section">
      <div class="over-container">{% block content %} {% endblock %}</div>
    </section>
  </body>
</html>
