{% extends "base.html" %}

{% block content %}
<ul id="navbar">
  <li><a href="{{ get_url(path="@/about/_index.md") }}">About</a></li>
  <li class="highlight"><a href="{{ get_url(path="@/blog/_index.md") }}">Blog</a></li>
  <li><a href="{{ get_url(path="@/projects/_index.md") }}">Projects</a></li>
  <li><a href="{{ get_url(path="@/_index.md") }}">Home</a></li>
</ul>

<h1 class="title">
  {{ page.title }}
</h1>
<p class="subtitle"><strong>{{ page.date }}</strong></p>
<div class="writing">{{ page.content | safe }}</div>
{% endblock content %}